[submodule "soroban-examples"]
	path = soroban-examples
	url = git@github.com:dranov/soroban-examples.git
[submodule "rs-soroban-sdk"]
	path = rs-soroban-sdk
	url = git@github.com:dranov/rs-soroban-sdk.git
[submodule "rs-soroban-env"]
	path = rs-soroban-env
	url = git@github.com:dranov/rs-soroban-env.git
[submodule "thirdparty-contracts/blend-contracts"]
	path = thirdparty-contracts/blend-contracts
	url = https://github.com/blend-capital/blend-contracts.git
